* {
  background-color: #ddd0c8;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

// Game title
.game-title {
  font-size: 80px;
  color: black;
  text-align: center;
}

// Question
.question {
  &__card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    &-content {
      font-size: 2rem;
      font-weight: bold;
      color: black;
      text-align: center;
    }
  }

  &-list {
    display: flex;
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    list-style-type: none;
  }
}

// Button inputs
.inputs {
  margin: 5%;

  &__row {
    display: flex;
    justify-content: space-around;
  }

  &__btn {
    color: #ddd0c8;
    background-color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: 2.5% 10%;
    border-radius: 33px;
    width: 40%;
    height: 90px;
  }

  &__correct {
    color: white;
    background-color: green;
    margin: 2rem 0;
    padding: 2.5% 10%;
    border-radius: 5px;
  }

  &__incorrect {
    color: white;
    background-color: red;
    margin: 2rem 0;
    padding: 2.5% 10%;
    border-radius: 5px;
  }
  &__btn:hover {
    color: darkgray;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
}

// Progress bar
.progress {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_bar {
    display: flex;
    align-content: center;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    height: 20px;
    width: 80%;
    margin: 10%;
    margin-left: 0%;
  }

  &_bar__progress {
    height: 100%;
    width: 80%;
    background-color: green;
    border-radius: 10px;
  }
}
